.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 16px;
  @media (max-width: 755px) {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  a {
    text-decoration: none;
  }
}

.resume-btn {
  background-color: #000;
  color: #fff;
  padding: 16px 20px;
  border-radius: 8px;
}

.container-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @media (max-width: 755px) {
    display: flex;
  }
}

.burger-btn {}