.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  font-size: 16px;
}
@media (max-width: 755px) {
  .container {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  list-style: none;
}
.nav a {
  text-decoration: none;
}

.resume-btn {
  background-color: #000;
  color: #fff;
  padding: 16px 20px;
  border-radius: 8px;
}

.container-mobile {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
@media (max-width: 755px) {
  .container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}