h1 {
  font-size: 48px;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

section:nth-child(3) {
  background-color: black;
}

section:nth-child(5) {
  background-color: black;
}

.normal {
  font-weight: 400;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 32px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}

.header {
  font-size: 48px;
  text-align: center;
  margin-bottom: 32px;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 48px;
}

.hero-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
.hero-links :hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.hero-links .hero-icon {
  width: 64px;
  height: 64px;
}

.hero-description {
  max-width: 701px;
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.hero-image {
  margin-left: auto;
}
.hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills-container :hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.skill-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  width: 186px;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #000;
}
.skill-card i {
  font-size: 48px;
}
.skill-card p {
  font-size: 18px;
  font-weight: 800;
}

.white {
  color: white;
  padding: 100px 0;
}

.experience-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.experience-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  border-radius: 8px;
  border: 1px solid #FFF;
}
.experience-card .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.experience-card .card-header {
  font-size: 30px;
}
.experience-card .card-description {
  font-size: 18px;
}
.experience-card .experience-icon {
  display: inline;
  width: 32px;
  height: 32px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 123px;
}

.about-content .header {
  text-align: left;
}
.about-content .about-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.6);
}

.projects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 124px;
}
.project .project-image {
  height: 338px;
  border-radius: 20px;
  overflow: hidden;
}
.project .project-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.project .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  max-width: 495px;
}
.project .project-info .number {
  font-size: 48px;
}
.project .project-info .project-title {
  font-size: 30px;
}
.project .project-info .project-description {
  color: rgba(255, 255, 255, 0.6);
}
.project .more-btn {
  display: block;
  padding: 16px 20px;
  border-radius: 8px;
  margin-right: auto;
}

.project:nth-child(even) .project-image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.contacts {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 598px;
}
.contacts h2 {
  font-size: 48px;
  line-height: 48px;
}
.contacts .description {
  margin: 32px 0;
  color: rgba(0, 0, 0, 0.6);
  line-height: 24px;
}

.call-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 123px;
}

.email,
.phone {
  font-size: 18px;
  font-weight: 600;
}

.email {
  margin-bottom: 12px;
}

.form {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #000;
  height: 57px;
  width: 459px;
}

.form4 {
  border-radius: 8px;
  border: 1px solid #000;
  height: 200px;
  width: 459px;
}

.get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}